---
import PackagesTable from "~/components/PackagesTable.astro";
import Layout from "~/layouts/Layout.astro";
import { getLatestPackages } from "~/lib/package";
import { createDatabase } from "~/server/db";

const db = createDatabase();
const packages = await getLatestPackages(db);
---

<Layout title="All Packages - NixCasks">
	<div class="pt-32 pb-20">
		<div class="container mx-auto px-4">
			<div class="max-w-6xl mx-auto">
				<h1 class="text-4xl font-bold mb-4 text-brutal-white">All Packages</h1>
				<p class="text-xl text-brutal-white/60 mb-8">
					Browse all available packages that can be installed through NixCasks.
				</p>
				<PackagesTable packages={packages} />
			</div>
		</div>
	</div>
</Layout>
