---
import algoliaIcon from "~/assets/algolia.svg";
import PackagesTable from "~/components/PackageTable.astro";
import Layout from "~/layouts/Layout.astro";
import { searchPackages } from "~/server/algolia";

const query = Astro.url.searchParams.get("q");
if (!query) {
	return Astro.redirect("/");
}
const { hits } = await searchPackages(query);
---

<Layout title={`${query} | NixCasks`}>
	<div class="my-4 sm:my-8 md:my-12 max-w-6xl mx-auto px-1">
		<div class="flex items-center justify-between text-neon-white text-lg font-medium mb-2 px-4">
			{
				hits.length > 0 && (
					<p class="text-neon-white text-lg font-medium">
						Search results for <span class="text-neon-purple">{query}</span>
					</p>
				)
			}
			{
				hits.length === 0 && (
					<p class="text-neon-white text-lg font-medium">
						No results found for <span class="text-neon-purple">{query}</span>
					</p>
				)
			}
			<a href="https://www.algolia.com/" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
				<span class="text-neon-white">Search by</span>
				<img {...algoliaIcon} alt="Algolia" class="w-20 aspect-auto" />
			</a>
		</div>
		{hits.length > 0 && <PackagesTable packages={hits} />}
	</div>
</Layout>
