---

---

<footer class="bg-neon-black/80 backdrop-blur-xl border-t border-neon-white/10">
	<div class="container mx-auto px-4 py-12">
		<div class="flex flex-col md:flex-row justify-between items-center">
			<div class="mb-4 md:mb-0">
				<p class="text-sm font-bold">Released under the MIT License.</p>
			</div>
			<div class="flex gap-6">
				<a target="_blank" href="https://github.com/atahanyorganci/nix-casks" class="font-bold"> GitHub </a>
				<a target="_blank" href="/api/reference" class="font-bold"> API Reference </a>
			</div>
		</div>
	</div>
</footer>
