---
import { z } from "zod";
import { createDatabase } from "~/server/db";
import Layout from "~/layouts/Layout.astro";
import { getPackage, PackageName, PackageVersion } from "~/lib/package";

const { pname, version } = z
	.object({
		pname: PackageName,
		version: PackageVersion,
	})
	.parse(Astro.params);
const db = createDatabase();
const pkg = await getPackage(db, pname, version);

if (!pkg) {
	return await Astro.redirect("/404", 404);
}
---

<Layout title={`${pkg.pname} | Nix Casks`}>
	<h1 class="text-4xl font-semibold">{pkg.pname} - {pkg.version}</h1>
	<pre>{JSON.stringify(pkg, null, 2)}</pre>
</Layout>
