name: Update Package Archive
on:
  workflow_dispatch:
jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-24.05
      - run: nix develop -c 'ci'
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          branch: archive
          message: "chore: update `archive.json`"
          github_token: ${{ secrets.GITHUB_TOKEN }}
